.item_list-container{
    // background-image: url(./images/Homepagebgc.jpg);
    // height: 100%;
    // width: 100%;
    width: 100%;
    height: 100%;
    // background-position: center;
    margin: auto;
    padding-bottom: 20px;
}

.card-container{
    // text-align: center;
    // margin-top: 5rem;
    max-width: 100vw;
    //min-height: 100vh;
}

.card{
    width: 450px;
    height: 500px;
    margin: 20px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    // border: 1px solid #B8A15C;
    border: 1px solid #B8A15C;
    color: white;
    text-align: left;
    overflow: hidden;
    margin: 0px auto;
}

.btn-add{
    background-color: #B8A15C;
    border: 1px solid #B8A15C;
    box-shadow: none;
    opacity: 0.6;
    &:hover{
        background-color: #B8A15C;
        border: 1px solid white;
        opacity: 1;
    }
}

.filtr-big-container{
    width: 100%;
    color: white;
    padding-top: 120px;
}

.filtr-container{
    max-width: 20%;
    margin: auto;
    background-color: rgba($color: #000000, $alpha: 0.6);
    margin-top: 60px;
    padding-top: 20px;
    &__list{
        padding-left: 0;
        display: flex;
        border: 2px solid #B8A15C;
        padding: 1rem;
    }
    &__list-elements{
        list-style: none;
        margin: auto;
    }
    &__list-element{
        &:hover{
            color: #B8A15C;
            text-decoration: none;
        }
    }
    &__list-element-p{
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        color: #B8A15C;
    }
}
