{% extends 'base.html' %}

{% block title %}Change Password Page{% endblock title %}

{% block content %} 
<div class="change_password">
    <head>
        {% load sass_tags %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <link href="{% sass_src 'nav.scss' %}" rel="stylesheet" type="text/css" />
            <link href="{% sass_src 'change_password.scss' %}" rel="stylesheet" type="text/css" />
      </head>
      <nav class="navigation">
        <div class="navigation__main-logo">Amazing Art Gallery</div>
        <ul class="navigation__list" id="nav-ul">
            <li class="navigation__elements"><a class="navigation__element" href="'/homepage'">HOME</a></li>
            <li class="navigation__elements"><a class="navigation__element" href="/item_list">GALERIA SZTUKI</a></li>
            <li class="navigation__elements"><a class="navigation__element" href="/artists">ARTYŚCI</a></li>
            <li class="navigation__elements"><a class="navigation__element" href="/about-us">O NAS</a></li>
            <li class="navigation__elements"><a class="navigation__element" href="{% url 'change-password' %}">KONTO</a></li>
            <li class="navigation__elements"><a class="navigation__element" href="/cart">KOSZYK</a></li>
            <li class="navigation__elements">
              {% if user.is_authenticated %}
              <p><a class="navigation__element" href="{% url 'logout' %}">WYLOGUJ SIĘ</a></p>
            {% else %}
              <a class="navigation__element" href="{% url 'login' %}">ZALOGUJ SIĘ</a>
            {% endif %}
            </li>
            <li class="navigation__elements">
              {% if user.is_authenticated %}
              <p class="navigation__element navigation__user">Hi {{ user.username }}!</p>
            {% else %}
              <a class="navigation__element" href="{% url 'signup' %}">ZAREJESTRUJ SIĘ</a>
            {% endif %}
            </li>
        </ul>
      </nav>
        <h2>Change Password</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'home' %}">Back</a>
            <button type="submit">Submit</button>
        </form>
</div>
{% endblock content %} 