{% extends 'base.html' %}

{% block title %}Resetowanie hasła{% endblock %}

{% block content %} 
<html style="width: 100%; height: 100vh; background-color: black; background-image: url(/static/images/Fotografia4-autho.jpg); background-position: center;
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;">
    <div style="width: 100%; height: 100%; background-color: black; padding: 100px; background-image: url(/static/images/Fotografia4-autho.jpg); background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;">
<div class="container my-5">
<div class="row">
    <h3 style="color: #d9d0b4;">Witaj {{request.user.username|capfirst}}</h3>
    <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
            <li class="d-grid">
                <a href="{% url 'profile' %}" class="btn btn-primary"> Zmiana hasła wykonana </a>
            </li>
        </ul>
    </div>
    <div class="col-sm-9 offset-sm-1 text-center">
        <h3 style="color: #d9d0b4;">Hasło zmieniono pomyślnie !!! </h3>
    </div>
</div>
</div>

</div>
</html>

{% endblock content %} 